* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}


.header {
    background: #111;
    color: #fff;
    padding: 15px 0;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}


.hero {
    background: linear-gradient(to right, #000, #444);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h2 {
    font-size: 48px;
}

.hero p {
    margin: 15px 0;
}

.btn {
    background: #ff4d00;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}


.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}


.services {
    padding: 60px 20px;
    background: #f4f4f4;
}

.service-box {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.about {
    padding: 60px 20px;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 80%;
    margin: auto;
}

.about-image {
  width: 300px;
  height: 300px;
  border-radius: 16px;     
  overflow: hidden;       
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;       

}

.plans {
    background: #f4f4f4;
    padding: 60px 20px;
}

.plan-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.plan-card {
    background: white;
    padding: 30px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

.plan-card ul {
    list-style: none;
    margin: 20px 0;
}

.price {
    font-size: 24px;
    color: #ff4d00;
}

.popular {
    border: 3px solid #ff4d00;
}


.contact {
    padding: 60px 20px;
    text-align: center;
}


.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}





