* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #020617;
  color: #e5e7eb;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: rgba(2,6,23,0.9);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
}

.logo {
  font-weight: 700;
  color: #38bdf8;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10%;
}
.hero-img img {
  width: 50px;
  height: 450px;
  object-fit: cover;
  border-radius: 50%;   
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  border: 4px solid #38bdf8;
}


.hero h1 {
  font-size: 52px;
}

.hero span {
  color: #38bdf8;
}

.hero p {
  margin: 20px 0;
  max-width: 500px;
  color: #94a3b8;
}

.hero-img img {
  width: 360px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

.hero-btns {
  display: flex;
  gap: 15px;
}


.btn-primary {
  background: #38bdf8;
  color: #020617;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.btn-secondary {
  border: 2px solid #38bdf8;
  padding: 10px 22px;
  border-radius: 8px;
  color: #38bdf8;
  text-decoration: none;
}


section {
  padding: 80px 10%;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #38bdf8;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.card {
  background: #0f172a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #1e293b;
}


.project-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}

.project-card {
  background: #0f172a;
  padding: 25px;
  border-radius: 12px;
}


.contact-box {
  background: #0f172a;
  padding: 30px;
  border-radius: 12px;
  max-width: 400px;
}

.contact a {
  color: #38bdf8;
  text-decoration: none;
}


footer {
  text-align: center;
  padding: 20px;
  color: #64748b;
}


